a .invisible-link:hover {
    text-decoration: none;
    cursor: move;
}

a .invisible-link:visited {
    text-decoration: none;
    cursor: move;
}

a .invisible-link:any-link {
    text-decoration: none;
    cursor: move;
}

.imageObjet {
    margin-right: 1.5rem;
}

.fooNom {
    margin-top: 0.12rem;
    margin-bottom: 1rem;
}
