* {
    font-family:fantasy;
}

.title {
    padding: 1rem;
}

a.invisible-link {
    text-decoration:none;
    color:black;
}

.list {
    padding-bottom:1.5rem;
}

.imageObjet {
    margin-right: 1.5rem;
}

.header-line {
    width: 100%;
    position: fixed;
    top: 3rem;
    height:2px;
    background: rgb(115, 153, 0);
}

footer {
    text-align: center;
    /* background: #6EA; */
    width: 100%;
}

footer div {
    margin: 0.5rem;
}

hr {
    border-color: #99CC00;
}

.nouvelleListe {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
}

.nouvelItem {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
}

.modifDescItem {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
}

header {
    height: 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: #9C0;
}

#content {
    margin-top: 3rem;
    flex-grow: 1;
    padding: 10px;
}

body {
    height: 100vh;
    min-width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.form {
    text-align: center;
    padding-bottom: 0.75rem;
}

.input {
    padding-bottom: 1.25rem;
}

.profile {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
.pageLogin {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
}