.imageObjet {
    margin-right: 1.5rem;
}

footer {
    text-align: center;
    /* background: #6EA; */
    width: 100%;
}

footer div {
    margin: 0.5rem;
}

.nouvelleListe {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
}

header {
    height: 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: #9C0;
}

#content {
    margin-top: 3rem;
    flex-grow: 1;
    padding: 10px;
}

body {
    height: 100vh;
    min-width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.form {
    text-align: center;
    padding-bottom: 0.75rem;
}

.input {
    padding-bottom: 1.25rem;
}

.pageLogin {
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
}